body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f8efda;
}

.contenido{
    align-items: center;
    justify-content: center;
}
.banner img {
    width: 100%;
}


main hr {

    width: 60%;
}

/*Estilos navbar*/


.navbar {
    
    
    align-items: center;
    justify-content:right;
    padding: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #d8f3dc;
    height: 50px;
    flex-wrap: wrap;
}
.navbar-nav{
    
    background-color: #d8f3dc;
align-items: center;
justify-content: center;
}
    





.navbar a:hover {
    color: #008265;
}

.nav-link {
    position: relative;
    align-items: center;
    color: rgb(2, 40, 2);
    font-size: 20px;

}



/*Estilos del carousel*/
.carousel-item {
    margin: top 10px;
    ;
    height: auto;
    max-height: 600px;
    width: 100%;

}


/* Estilo para los párrafos */
p {
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: auto;
    color: #081c15;
    width: 40%;
}





/* Estilo para las imágenes dentro de la sección principal */


main img {

    display: flex;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Estilo para el encabezado de nivel 1 */
h1 {
    justify-content: center;
    color: white;
    background-color: #081c15;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
}

/* Estilo para el encabezado de nivel 2 */
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #081c15;
}

h2 a:hover {
    color: #008265;
}

h2 a {
    text-decoration: none;
    color: #081c15;

}


/* Estilo para el encabezado de nivel 3 dentro de párrafos */
h3 p {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    line-height: 1.5;
    max-width: 100%;
    text-align: center;
}


/* Estilos para el footer */

.footer {
    display: flex;
    text-decoration: none;
    font-size: 30px;
    background-color: #d8f3dc;
    margin-top: 15px;
    text-align: right;

}

a {
    color: rgb(2, 40, 2);
    
}

a:hover {
    color: #008265;
}
ul li {
    text-align: right;
    display: inline-block;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 10px; 
}

@media (max-width:991px){
    

    .carousel{
        display:none;
    }
    .contenido{
           font-size: 10px;
              

        }
    }   
