*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
    ul{
        text-decoration: none;
    }

    a{
        text-decoration: none;
        color: $color_3;
        font-size: $font-large;
    }

